.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
*.iml
.idea/libraries/play_services_5_0_77.xml
.idea/libraries/play_services_6_5_87.xml
.idea/libraries/support_annotations_21_0_0.xml
.idea/libraries/support_v4_19_1_0.xml
.idea/libraries/support_v4_21_0_0.xml
.idea/libraries/play_services_7_0_0.xml
.idea/libraries/play_services_ads_7_0_0.xml
.idea/libraries/play_services_analytics_7_0_0.xml
.idea/libraries/play_services_appindexing_7_0_0.xml
.idea/libraries/play_services_appstate_7_0_0.xml
.idea/libraries/play_services_base_7_0_0.xml
.idea/libraries/play_services_cast_7_0_0.xml
.idea/libraries/play_services_drive_7_0_0.xml
.idea/libraries/play_services_fitness_7_0_0.xml
.idea/libraries/play_services_games_7_0_0.xml
.idea/libraries/play_services_gcm_7_0_0.xml
.idea/libraries/play_services_identity_7_0_0.xml
.idea/libraries/play_services_location_7_0_0.xml
.idea/libraries/play_services_maps_7_0_0.xml
.idea/libraries/play_services_nearby_7_0_0.xml
.idea/libraries/play_services_panorama_7_0_0.xml
.idea/libraries/play_services_plus_7_0_0.xml
.idea/libraries/play_services_safetynet_7_0_0.xml
.idea/libraries/play_services_wallet_7_0_0.xml
.idea/libraries/play_services_wearable_7_0_0.xml
.idea/libraries/support_annotations_22_0_0.xml
.idea/libraries/support_v4_22_0_0.xml
/app/src/main/res/layout/activity_login_activity2.xml
/app/src/main/res/values/strings_activity_login_activity2.xml
