<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appchee.learnews" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/learnews_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game" >
            android:name=".SavedStoriesActivity"
            android:label="@string/title_activity_read_later" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".SavedStoriesActivity"
            android:label="@string/saved_stories_activity_label" />
            android:name=".AddQuestions"
            android:label="@string/title_activity_add_questions" />
        <activity
            android:name=".AddQuestionsActivity"
            android:label="@string/title_activity_add_questions" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
    </application>

</manifest>
